<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

        <th:block th:fragment="header">
            <title th:text="${localiser.localise('validator.uploadTitle')}">Validator</title>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.min.css}"/>
            <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
            <link rel="stylesheet" th:href="@{/webjars/codemirror/5.62.2/lib/codemirror.css}"/>
            <link rel="stylesheet" th:href="@{/css/style-min.css}"/>
            <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
            <script th:src="@{/webjars/codemirror/5.62.2/lib/codemirror.js}"></script>
            <script th:src="@{/js/lib/busy-min.js}"></script>
            <script th:src="@{/js/itb-upload-min.js}"></script>
            <script th:inline="javascript">
                var validationTypeOptions = {};
                [# th:each="type : ${config.getDeclaredType()}"]
                    validationTypeOptions[[# th:text="${type}" /]] = [];
                    [# th:each="option : ${config.getValidationTypeOptions().get(type)}"]
                        validationTypeOptions[[# th:text="${type}" /]].push({
                            option: [# th:text="${option}" /],
                            label: [# th:text="${config.getValidationTypeOptionLabel(type, option)}" /]
                        });
                    [/]
                [/]
            </script>
        </th:block>

    </head>
    <body>

        <th:block th:fragment="about">
            <div class="container about-section" th:if="${config.showAbout} and ${not minimalUI}">
                This service is powered by the ISA&sup2; Interoperability Test Bed, a conformance testing service offered by the European Commission's DG DIGIT for projects
                involved in the delivery of cross-border public services. Find out more <a href="https://joinup.ec.europa.eu/solution/interoperability-test-bed" target="_blank">here</a>.
            </div>
        </th:block>

        <th:block th:fragment="buildInfo">
            <div style="display: none;">
                <div id="build.version" th:text="${@environment.getProperty('validator.buildVersion')}">buildVersion</div>
                <div id="build.timestamp" th:text="${@environment.getProperty('validator.buildTimestamp')}">buildTimestamp</div>
                <div id="startup.timestamp" th:text="${appConfig.startupTimestamp}">startupTimestamp</div>
                <div id="resource.timestamp" th:text="${appConfig.resourceUpdateTimestamp}">resourceTimestamp</div>
            </div>
        </th:block>

        <div th:fragment="footer(config, minimalUI)" th:if="${not minimalUI}">
            <div th:if="${localiser.propertyExists('validator.htmlFooter')}">
                <div th:utext="${localiser.localise('validator.htmlFooter')}">Footer</div>
            </div>
        </div>

        <div th:fragment="localeSelector(config)" class="container">
            <div class="form-row justify-content-end">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                    <label for="availableLocales" th:text="${localiser.localise('validator.label.availableLocales')}">Available locales:</label>
                    <select class="form-control form-control-sm" id="availableLocales" name="availableLocales" onchange="localeChanged()">
                        <option value="empty" selected="true" th:text="${localiser.localise('validator.label.selectedLocale')}">Selected locale</option>
                        <option th:each="locale : ${config.availableLocales}" th:text="${locale}" th:attr="value=${locale}">Locale</option>
                    </select>
                </div>
            </div>
        </div>

    </body>
</html>