<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

        <th:block th:fragment="header">
            <title th:text="${localiser.localise('validator.uploadTitle')}">Validator</title>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.min.css}"/>
            <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
            <link rel="stylesheet" th:href="@{/webjars/codemirror/5.62.2/lib/codemirror.css}"/>
            <link rel="stylesheet" th:href="@{/css/style-min.css}"/>
            <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
            <script th:src="@{/webjars/codemirror/5.62.2/lib/codemirror.js}"></script>
            <script th:src="@{/js/lib/handlebars.runtime.min.js}"></script>
            <script th:src="@{/js/itb-upload-min.js}"></script>
            <script th:attr="nonce=${nonce}" th:inline="javascript">
                var validatingInputMessage = [[${localiser.localise('validator.label.validatingInputMessage')}]];
                var validationTypeOptions = {};
                [# th:each="type : ${config.getDeclaredType()}"]
                    validationTypeOptions[[# th:text="${type}" /]] = [];
                    [# th:each="option : ${config.getVisibleValidationTypeOptions(type)}"]
                        validationTypeOptions[[# th:text="${type}" /]].push({
                            option: [# th:text="${option}" /],
                            label: [# th:text="${config.getValidationTypeOptionLabel(type, option, localiser)}" /]
                        });
                    [/]
                [/]
            </script>
            <script th:attr="nonce=${nonce}" th:inline="javascript" th:if="${!minimalUI && javascriptExtensionExists}" th:utext="${localiser.localise('validator.javascriptExtension')}">
            </script>
        </th:block>

    </head>
    <body>

        <th:block th:fragment="about">
            <div class="container about-section" th:if="${config.showAbout} and ${not minimalUI}" th:utext="${localiser.localise('validator.about', 'https://joinup.ec.europa.eu/solution/interoperability-test-bed')}">About Interoperability Test Bed.</div>
        </th:block>

        <th:block th:fragment="buildInfo">
            <div class="no-display">
                <div id="build.version" th:text="${@environment.getProperty('validator.buildVersion')}">buildVersion</div>
                <div id="build.timestamp" th:text="${@environment.getProperty('validator.buildTimestamp')}">buildTimestamp</div>
                <div id="startup.timestamp" th:text="${appConfig.startupTimestamp}">startupTimestamp</div>
                <div id="resource.timestamp" th:text="${appConfig.resourceUpdateTimestamp}">resourceTimestamp</div>
            </div>
        </th:block>

        <div th:fragment="footer(config, minimalUI)" th:if="${not minimalUI}">
            <div th:if="${localiser.propertyExists('validator.footerHtml')}">
                <div th:utext="${localiser.localise('validator.footerHtml')}">Footer</div>
            </div>
        </div>

        <div th:fragment="localeSelector(config, currentLocale)" th:if="${config.availableLocales.size() > 1}">
            <div class="locale-div">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                    <select class="form-control localeChanged" th:classappend="${minimalUI?'':'input-sm'}" id="availableLocales" name="availableLocales">
                        <th:block th:each="locale : ${config.availableLocales}">
                            <th:block th:switch="${locale.getDisplayCountry(locale).isBlank()}">
                                <option th:case="true" th:value="${locale.toString()}" th:text="${T(org.apache.commons.lang3.StringUtils).capitalize(locale.getDisplayLanguage(locale))}" th:selected="${locale == currentLocale}">Locale</option>
                                <option th:case="false" th:value="${locale.toString()}" th:text="${T(org.apache.commons.lang3.StringUtils).capitalize(locale.getDisplayLanguage(locale)+' ('+locale.getDisplayCountry(locale)+')')}" th:selected="${locale == currentLocale}">Locale</option>
                            </th:block>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>

    </body>
</html>