<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <h2 th:fragment="reportTitle(config, minimalUI)" class="view-section-title" th:if="${not minimalUI}" th:text="${localiser.localise('validator.label.resultSectionTitle')}">Validation result</h2>

        <th:block th:fragment="reportHeader(config, minimalUI)">
            <div class="panel-heading panel-heading-overview"  th:if="${not minimalUI}">
                <h3 class="panel-title" th:text="${localiser.localise('validator.label.resultSubSectionOverviewTitle')}">Overview</h3>
            </div>
            <div class="panel-heading panel-heading-ui minimal-ui" th:if="${minimalUI}">
                <div class="panel-title-ui" th:text="${localiser.localise('validator.label.resultSectionTitle')}">Validation result</div>
                <div th:replace="fragments/common :: localeSelector(${config}, ${localiser.getLocale()})"/>
                <div class="panel-title-controls">
                    <button type="submit" id="backSubmit" class="btn btn-default" onclick="window.location.href='uploadm'">Back</button>
                </div>
            </div>
        </th:block>

        <div th:fragment="reportSummary(config)" class="panel-body">
            <div class="row">
                <label class="col-sm-2 col-xs-3 control-label" th:text="${localiser.localise('validator.label.resultDateLabel')}">Date:</label>
                <div><span class="form-control-static" th:text="${report.date}">17/12/2016</span></div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-xs-3 control-label" th:text="${localiser.localise('validator.label.resultFileNameLabel')}">File name:</label>
                <div><span class="form-control-static" th:text="${fileName}">file.rdf</span></div>
            </div>
            <div class="row" th:if="${validationTypeLabel}">
                <label class="col-sm-2 col-xs-3 control-label" th:text="${localiser.localise('validator.label.resultValidationTypeLabel')}">Validation type:</label>
                <div><span class="form-control-static" th:text="${validationTypeLabel}">Type</span></div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-xs-3 control-label" th:text="${localiser.localise('validator.label.resultResultLabel')}">Result:</label>
                <div><span class="form-control-static" th:text="${localiser.localise('validator.label.result.'+report.result.value().toLowerCase())}">Success</span></div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-xs-3 control-label" th:text="${localiser.localise('validator.label.resultErrorsLabel')}">Errors:</label>
                <div><span class="form-control-static" th:text="${report.counters.nrOfErrors}">0</span></div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-xs-3 control-label" th:text="${localiser.localise('validator.label.resultWarningsLabel')}">Warnings:</label>
                <div><span class="form-control-static" th:text="${report.counters.nrOfWarnings}">0</span></div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-xs-3 control-label" th:text="${localiser.localise('validator.label.resultMessagesLabel')}">Messages:</label>
                <div><span class="form-control-static" th:text="${report.counters.nrOfAssertions}">0</span></div>
            </div>
        </div>

        <div th:fragment="reportControls(config)" class="panel-footer overview-button-row">
            <div class="btn-toolbar">
                <button th:if="${report.reports == null || report.reports.infoOrWarningOrError == null || report.reports.infoOrWarningOrError.size() <= config.maximumReportsForDetailedOutput}" type="button" class="btn btn-default" id="viewInputButton" onclick="setCode()" disabled="true"><span th:text="${localiser.localise('validator.label.viewAnnotatedInputButton')}">View annotated input</span><span id="viewInputButtonSpinner"> <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span></button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${localiser.localise('validator.label.downloadReportButton')}"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li id="downloadReportButtonXML" class="disabled"><a href="#" onclick="downloadReportXML();return false;">
                            <span th:text="${showAggregateReport?localiser.localise('validator.label.reportDetailedXML'):'XML'}">XML (detailed)</span> <span id="downloadReportButtonXMLSpinner"> <i class="fa fa-spinner fa-spin fa-fw"></i></span></a></li>
                        <li th:if="${showAggregateReport}" id="downloadReportButtonXMLAggregate" class="disabled"><a href="#" onclick="downloadReportXMLAggregate();return false;"><span th:text="${localiser.localise('validator.label.reportAggregatedXML')}">XML (aggregated)</span> <span id="downloadReportButtonXMLSpinnerAggregate"> <i class="fa fa-spinner fa-spin fa-fw"></i></span></a></li>
                        <th:block th:if="${report.reports == null || report.reports.infoOrWarningOrError == null || report.reports.infoOrWarningOrError.size() <= config.maximumReportsForDetailedOutput}">
                            <li th:if="${showAggregateReport}" role="separator" class="divider"></li>
                            <li id="downloadReportButtonPDF" class="disabled"><a href="#" onclick="downloadReportPDF();return false;">
                                <span th:text="${showAggregateReport?localiser.localise('validator.label.reportDetailedPDF'):'PDF'}">PDF (detailed)</span> <span id="downloadReportButtonPDFSpinner"> <i class="fa fa-spinner fa-spin fa-fw"></i></span></a></li>
                            <li th:if="${showAggregateReport}" id="downloadReportButtonPDFAggregate" class="disabled"><a href="#" onclick="downloadReportPDFAggregate();return false;"><span th:text="${localiser.localise('validator.label.reportAggregatedPDF')}">PDF (aggregated)</span> <span id="downloadReportButtonPDFSpinnerAggregate"> <i class="fa fa-spinner fa-spin fa-fw"></i></span></a></li>
                            <li th:if="${showAggregateReport}" role="separator" class="divider"></li>
                            <li id="downloadReportButtonCSV" class="disabled"><a href="#" onclick="downloadReportCSV();return false;">
                                <span th:text="${showAggregateReport?localiser.localise('validator.label.reportDetailedCSV'):'CSV'}">CSV (detailed)</span> <span id="downloadReportButtonCSVSpinner"> <i class="fa fa-spinner fa-spin fa-fw"></i></span></a></li>
                            <li th:if="${showAggregateReport}" id="downloadReportButtonCSVAggregate" class="disabled"><a href="#" onclick="downloadReportCSVAggregate();return false;"><span th:text="${localiser.localise('validator.label.reportAggregatedCSV')}">CSV (aggregated)</span> <span id="downloadReportButtonCSVSpinnerAggregate"> <i class="fa fa-spinner fa-spin fa-fw"></i></span></a></li>
                        </th:block>
                    </ul>
                </div>
                <div class="reportLimitTooltip" th:if="${report.counters != null && (report.counters.nrOfAssertions.longValue() + report.counters.nrOfErrors.longValue() + report.counters.nrOfWarnings.longValue()) > config.maximumReportsForXmlOutput}"><span data-toggle="tooltip" data-container="body" data-placement="top" th:attr="title=${localiser.localise('validator.label.maximumReportsExceededForXmlOutputMessage', config.getMaximumReportsForXmlOutput())}"> <i class="far fa-question-circle"></i></span></div>
            </div>
        </div>

        <th:block th:fragment="reportItems(reportItems, config, clickableItems)">
            <div th:if="${reportItems == null || reportItems.infoOrWarningOrError == null || reportItems.infoOrWarningOrError.size() <= config.maximumReportsForDetailedOutput}" class="report-item-container">
                <div class="row report-item" th:each="item : ${reportItems.infoOrWarningOrError}" th:classappend="${clickableItems?('clickable report-item-' + item.name.localPart):('report-item-' + item.name.localPart)}" th:attrappend="onclick=${clickableItems}?@{|setCode(this)|}">
                    <div class="col-xs-12 item-info">
                        <div th:switch="${item.name.localPart}">
                            <i th:case="'error'" class="fa fa-times-circle report-item-icon error-icon item-info-error"></i>
                            <i th:case="'warning'" class="fa fa-exclamation-triangle report-item-icon warning-icon item-info-warning"></i>
                            <i th:case="'info'" class="fa fa-info-circle report-item-icon info-icon item-info-info"></i>
                            <span th:text="${item.value.description}" class="item-info-text">Description</span>
                            <span th:if="${clickableItems}" style="display: none" th:text="${item.value.location}" class="item-info-location">INPUT:0:0</span>
                        </div>
                    </div>
                    <div th:if="${!clickableItems && item.value.location != null}" class="col-xs-12 report-item-test"><span class="report-item-test-label" th:text="${localiser.localise('validator.label.resultLocationLabel')}">Location:</span><span th:text="${item.value.location}">Location</span></div>
                    <div class="col-xs-12 report-item-test" th:if="${item.value.test != null}"><span class="report-item-test-label" th:text="${localiser.localise('validator.label.resultTestLabel')}">Test:</span><span th:text="${item.value.test}">Test</span></div>
                    <div class="col-xs-12 report-item-test" th:if="${item.value.assertionID != null}"><span class="report-item-test-label" th:text="${localiser.localise('validator.label.additionalInfoLabel')}">Test:</span><span th:text="${item.value.assertionID}">Additional information</span></div>
                </div>
            </div>
            <div th:unless="${reportItems == null || reportItems.infoOrWarningOrError == null || reportItems.infoOrWarningOrError.size() <= config.maximumReportsForDetailedOutput}">
                <div style="padding-top:15px;padding-bottom:15px;">
                    <div class="alert alert-warning" style="margin-bottom:0px;" th:text="${localiser.localise('validator.label.maximumReportsExceededForDetailedOutputMessage')}">
                        Maximum results exceeded for detailed display.
                    </div>
                </div>
            </div>
        </th:block>

        <div th:fragment="reportInputModal()" class="modal fade input-content-modal" id="input-content-modal" role="dialog" aria-labelledby="inputDialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-primary popup-close" data-dismiss="modal" aria-label="Close" th:text="${localiser.localise('validator.label.popupCloseButton')}">Close</button>
                        <h4 class="modal-title" id="inputContentTitle" th:text="${localiser.localise('validator.label.popupTitle')}">Input content</h4>
                    </div>
                    <div id="input-content-pane" class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="reportDetails(config, minimalUI, clickableItems)">
            <div class="panel panel-default" th:style="${minimalUI}?'display:none':''" th:classappend="${minimalUI} ? remove : ''" th:if="${report.reports != null && report.reports.infoOrWarningOrError != null && report.reports.infoOrWarningOrError.size() > 0}">
                <div class="panel-heading panel-heading-details">
                    <div class="panel-heading-details-title">
                        <h3 class="panel-title" th:text="${localiser.localise('validator.label.resultSubSectionDetailsTitle')}">Details</h3>
                    </div>
                    <div th:if="${report.reports == null || report.reports.infoOrWarningOrError == null || report.reports.infoOrWarningOrError.size() <= config.maximumReportsForDetailedOutput}" class="panel-heading-details-control btn-toolbar">
                        <div id="severityFilterButton" class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="severityFilterText" th:text="${localiser.localise('validator.label.viewReportItemsShowAll')}">Show all</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="severityFilterChange();return false;"><span id="severityFilterShowAllText" th:text="${localiser.localise('validator.label.viewReportItemsShowAll')}">Show all</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li id="severityFilterErrorOption"><a href="#" onclick="severityFilterChange('error');return false;"><span id="severityFilterShowErrorsText" th:text="${localiser.localise('validator.label.viewReportItemsShowErrors')}">Show errors</span></a></li>
                                <li id="severityFilterWarningOption"><a href="#" onclick="severityFilterChange('warning');return false;"><span id="severityFilterShowWarningsText" th:text="${localiser.localise('validator.label.viewReportItemsShowWarnings')}">Show warnings</span></a></li>
                                <li id="severityFilterMessageOption"><a href="#" onclick="severityFilterChange('message');return false;"><span id="severityFilterShowMessagesText" th:text="${localiser.localise('validator.label.viewReportItemsShowMessages')}">Show messages</span></a></li>
                            </ul>
                        </div>
                        <div th:if="${showAggregateReport}" class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="reportTypeSelectText" th:text="${localiser.localise('validator.label.viewReportItemsDetailed')}">Detailed report</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="reportTypeChange(false);return false;"><span id="reportTypeSelectDetailedText" th:text="${localiser.localise('validator.label.viewReportItemsDetailed')}">Detailed report</span></a></li>
                                <li><a href="#" onclick="reportTypeChange(true);return false;"><span id="reportTypeSelectAggregatedText" th:text="${localiser.localise('validator.label.viewReportItemsAggregated')}">Aggregated report</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body result-details-panel">
                    <div id="reportItemsDetailed">
                        <th:block th:replace="fragments/output :: reportItems(${report.reports}, ${config}, ${clickableItems})"/>
                    </div>
                    <div th:if="${showAggregateReport}" id="reportItemsAggregated" class="hidden">
                        <th:block th:replace="fragments/output :: reportItems(${aggregateReport.reports}, ${config}, ${clickableItems})"/>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/output :: reportInputModal()"></div>
        </div>

    </body>
</html>