{{> reportSummary.hbs }}
<div id="reportItemsDetailed" class="hidden">
    {{> reportItems.hbs reportItems=data.report.reports clickableItems=true}}
</div>
{{> reportControls.hbs }}
{{> reportInputModal.hbs}}