<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="validatorApp" source="server.context-path"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{dd/MM/yyyy HH:mm:ss} %-5level [%X{domain}] %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <springProfile name="!dev">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/validator.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>%d{dd/MM/yyyy HH:mm:ss} %-5level [%X{domain}] %logger{36} - %msg%n</Pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/validator.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>10</maxHistory>
                <maxFileSize>10MB</maxFileSize>
            </rollingPolicy>
        </appender>
    </springProfile>

    <logger name="eu.europa.ec" level="INFO" additivity="true"/>
    <logger name="org.springframework.core.LocalVariableTableParameterNameDiscoverer" level="ERROR"/>
    <logger name="com.openhtmltopdf" level="WARN" additivity="true"/>
    <logger name="io.github.openhtmltopdf" level="WARN" additivity="true"/>
    <logger name="org.apache.pdfbox.pdmodel.font.PDType1Font" level="ERROR" additivity="true"/>

    <springProfile name="!dev">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>
