<div id="reportToggleDisplayButtons" class="btn-toolbar toggle-display-toolbar">
    <button type="button" id="viewDetailsButton" class="btn btn-default toggleReportDisplay">{{data.translations.viewDetailsButton}}</button>
    <button type="button" id="viewSummaryButton" class="btn btn-default hidden toggleReportDisplay">{{data.translations.viewSummaryButton}}</button>
</div>