<div class="modal fade input-content-modal" id="input-content-modal" role="dialog" aria-labelledby="inputDialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-primary popup-close" data-dismiss="modal" aria-label="Close">{{data.translations.popupCloseButton}}</button>
                <h4 class="modal-title" id="inputContentTitle">{{data.translations.popupTitle}}</h4>
            </div>
            <div id="input-content-pane" class="modal-body">
            </div>
        </div>
    </div>
</div>