<div>
    {{#if (and data.report.reports data.report.reports.infoOrWarningOrError (gt data.report.reports.infoOrWarningOrError.length 0))}}
        <div class="panel panel-default {{#if config.isMinimalUI}}remove{{/if}}" style="{{#if config.isMinimalUI}}display:none{{/if}}">
            <div class="panel-heading panel-heading-details">
                <div class="panel-heading-details-title">
                    <h3 class="panel-title">{{data.translations.resultSubSectionDetailsTitle}}</h3>
                </div>
                {{> reportDetailsButtons.hbs }}
            </div>
            <div class="panel-body result-details-panel">
                <div id="reportItemsDetailed">
                    {{> reportItems.hbs reportItems=data.report.reports clickableItems=clickableItems}}
                </div>
                {{#if data.showAggregateReport}}
                    <div id="reportItemsAggregated" class="hidden">
                        {{> reportItems.hbs reportItems=data.aggregateReport.reports clickableItems=clickableItems}}
                    </div>
                {{/if}}
            </div>
        </div>
    {{/if}}
    {{#if includeInputModal}}
        {{> reportInputModal.hbs}}
    {{/if}}
</div>