<div id="reportToggleDisplayButtons" class="btn-toolbar toggle-display-toolbar">
    <button type="button" id="viewDetailsButton" onclick="toggleReportDisplay()" class="btn btn-default">{{data.translations.viewDetailsButton}}</button>
    <button type="button" id="viewSummaryButton" onclick="toggleReportDisplay()" class="btn btn-default hidden">{{data.translations.viewSummaryButton}}</button>
</div>