<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="eu.europa.ec.itb.validation.commons.jar.LoggingFilter"/>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%msg</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="eu.europa.ec.itb.validation.commons.jar.LoggingFilter"/>
        <file>validator.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR" additivity="true">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="io.github.openhtmltopdf" level="ERROR" additivity="true">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="FEEDBACK" level="INFO" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="VALIDATION_RESULT" level="INFO" additivity="true">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="eu.europa.ec" level="INFO" additivity="true">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.apache" level="ERROR" additivity="true">
        <appender-ref ref="FILE" />
    </logger>

</configuration>
